<article class="listing">
  <img src="{{engineer.image}}" alt="">
  <h3>{{engineer.dept_name}}</h3>
  <div class="detail owner">
    <span>Department ID:</span> {{engineer.dept_id}}
  </div>
  <div class="detail type">
    <span>Delivery Manager:</span> {{engineer.manager}}
  </div>
  <div class="detail location">
    <span>Location:</span> {{engineer.city}}
  </div>
  <div class="detail bedrooms">
    <span>Technology:</span> {{engineer.technology}}
  </div>
</article>