<article class="listing">
  <img src="{{engineer.image}}" alt="">
  <h3>{{engineer.name}}</h3>
  <div class="detail owner">
    <span>ID:</span> {{engineer.id}}
  </div>
  <div class="detail type">
    <span>Reporting Manager:</span> {{engineer.manager}}
  </div>
  <div class="detail location">
    <span>Platform:</span> {{engineer.platform}}
  </div>
  <div class="detail bedrooms">
    <span>Project:</span> {{engineer.project}}
  </div>
</article>